<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="BoxChoice"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ControlesBasicos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ingresarchat"
            android:exported="false" />
        <activity
            android:name=".chatsoporte"
            android:exported="false" />
        <activity
            android:name=".votar"
            android:exported="false" />
        <activity
            android:name=".can6"
            android:exported="false" />
        <activity
            android:name=".can5"
            android:exported="false" />
        <activity
            android:name=".can4"
            android:exported="false" />
        <activity
            android:name=".can3"
            android:exported="false" />
        <activity
            android:name=".can2"
            android:exported="false" />
        <activity
            android:name=".can1"
            android:exported="false" />
        <activity
            android:name=".candidatos"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>